[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A tool that performs HULK HTTP flood, Ping of Death, UDP flood, SNMP, Smurf ICMP, and Slowloris attacs
[access "refs/*"]
	owner = group user/MertOzerdem
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/MertOzerdem
	label-Verified = -1..+1 group user/MertOzerdem
	push = group user/MertOzerdem
	read = group user/MertOzerdem
	rebase = group user/MertOzerdem
	removeReviewer = group user/MertOzerdem
	submit = group user/MertOzerdem
[access "refs/heads/*"]
	create = group user/MertOzerdem
	push = +force group user/MertOzerdem
	pushMerge = group user/MertOzerdem
	read = group user/MertOzerdem
[access "refs/tags/*"]
	push = group user/MertOzerdem
	push = +force group user/MertOzerdem
